*
{
box-sizing: border-box;
}
body
{
margin: 0px;
overflow-x: hidden;
background-color: azure;

}
.content{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.container
{
    display: flex;
    flex-direction: row;
    height: 80vh;
    overflow-y: hidden;
}
.welcome
{
    position: relative;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: auto;
    background-color: skyblue;
    margin: 0%;
    border: 2px solid black;
    height: 10vh;
    padding-top: 26px;
}
.contact
{
display:flex;
align-items:flex-end;
padding-bottom: 20px;
flex-direction: row;
align-content: center;
justify-content:center;
width:100%;
height: 10vh;
background-color: skyblue;
}
.links{
    display: flex;
    flex-direction: column; 
    width: 20%;
    
   
}
.links > div
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    
   
    
}
.links > div > a
{
    
    display: block;
    text-decoration: none;
    padding: 10px 16px;
    margin-left: 0px;
    color: rgb(7, 4, 4);
    font-size: larger;
    border: 2px solid rgb(5, 5, 5);
    border-left: 10px solid rgb(8, 24, 243);
    border-right: 0px;
    border-top: 0px;   
}
.links > div :hover
{
    font-weight: bold;
    text-decoration: underline;
    color: white;
    background-color:rgb(13, 149, 240);
}
img
{
    position: fixed;
    right: 26px;
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    top: 17px;
    
    
}
.main
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    overflow-y: auto;
}


.pageText
{
    text-align: justify;
    font-size: 25px;
    margin-right:20px; 
    margin-left: 20px;
    margin-top: 0%;
    overflow:auto;
}
.heading
{
    position: sticky;
    top:0;
    font-size: 33px;
    text-align: center;
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
    color: blue;
    background-color: white;
    margin: 0;
}

.contact > a
{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    padding-right: 40px;
   
}
.contact> a:hover
{
    text-decoration: underline;
    font-weight: bold;
}
.dropbtn {
    background-color:#04AA6D;
    color: white;
    padding: 9.5px;
    text-align: left;
    font-size: 16px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    left: 50px;
    top: 40px;
    background-color: lightskyblue;
    min-width: 200px;
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover 
{
      background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content
{
     display: block;
     background-color: deepskyblue;
}

.dropdown:hover .dropbtn 
{
    background-color: deepskyblue;
}